{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
<div class="col">
  <span class="d-flex">

    <h1>{{ person.username }}'s Profile</h1>
    <form class="ms-2" action="{% url "accounts:follow" person.id %}" method='POST'>
      {% csrf_token %}
      {% if request.user in person.followers.all %}
      <input class="btn btn-primary" type="submit" value="팔로우 취소">
      {% else %}
      <input class="btn btn-primary" type="submit" value="팔로우">
      {% endif %}
    </form>
  </span>
</div>
  {% if profile %}
    <div>
      {% if profile.image %}
        <img src="{{ profile.image_field.url }}" alt="img" />
      {% endif %}
      {% if profile.nickname %}
        <p>닉네임 : {{ profile.nickname }}</p>
      {% endif %}
      {% if profile.introduction %}
        <p>자기소개 : {{ profile.introduction }}</p>
      {% endif %}
    </div>
  {% endif %}
  {% if person == request.user %}
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="로그아웃" class="btn btn-secondary btn-sm" />
      <a class="btn btn-warning btn-sm" href="{% url 'accounts:profile_update' %}">프로필 수정</a>
      <a class="btn btn-primary btn-sm" href="{% url 'change_password' user.pk %}">비밀번호 변경</a>
      <a class="btn btn-danger btn-sm" href="{% url 'accounts:delete' %}">회원 탈퇴</a>
    </form>
  {% endif %}
  <hr />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'profile' person.username %}">{{ person.username }}'s Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'liked_posts' person.username %}">{{ person.username }}'s Liked Posts</a>
    </li>
  </ul>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for post in person.post_set.all %}
      {% include 'posts/post.html' %}
    {% endfor %}
  </div>
{% endblock %}
